.container {
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--color-biege);
  min-height: 100vh;
  @media screen and (max-width: 479px) {
    min-width: 300px;
  }
  @media screen and (min-width: 768px) {
    width: 738px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
}
