.header {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  background: linear-gradient(to right, orange,rgb(232, 192, 119));
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.nav{
    padding-top:15px;
    padding-bottom:15px;
}

.link{
    font-size: 18px;
    font-weight: 700;

}