@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-biege: #faebd7;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.614),
      rgba(0, 0, 0, 0.696)
    ),
    url("./bg.svg");
  background-size: cover;
  background-repeat: repeat;
}
* {
  color: #444444;
}
button {
  font-family: inherit;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
